.app {
    background: silver;
    width: 400px;
    height: 250px;
    margin: 50px;
    position: relative;
}

.selection {
    position: absolute;
    display: block;
    border: 1px dotted royalblue;
    cursor: all-scroll;
    top: 0;
    left: 0;
}

.selection .node {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: silver;
    border: 1px solid gray;
    border-radius: 2px;
}

.selection .node:hover {
    cursor: pointer;
    background: royalblue;
    border-color: royalblue;
}

.selection .node.top {
    top: -4.5px;
}

.selection .node.top.left {
    left: -4.5px;
    cursor: nw-resize;
}

.selection .node.top.center {
    left: 50%;
    cursor: ns-resize;
}

.selection .node.top.right {
    right: -3.5px;
    cursor: ne-resize;
}

.selection .node.middle {
    top: 50%;
}

.selection .node.middle.left {
    left: -3.5px;
    cursor: ew-resize;
}

.selection .node.middle.right {
    right: -3.5px;
    cursor: ew-resize;
}

.selection .node.bottom {
    bottom: -3.5px;
}

.selection .node.bottom.left {
    left: -3.5px;
    cursor: sw-resize;
}

.selection .node.bottom.center {
    left: 50%;
    cursor: ns-resize;
}

.selection .node.bottom.right {
    right: -3.5px;
    cursor: se-resize;
}
